parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$string of method Psr\\\\Http\\\\Message\\\\StreamInterface\\:\\:write\\(\\) expects string, mixed given\\.$#"
			count: 2
			path: tests/JwtAuthenticationTest.php
